{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
{#    <div class="jumbotron d-flex align-items-center">#}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto my-4 my-lg-5">
          <div class="nice p-4 p-md-5">
            <h2 class="text-center">Log in to your Account</h2>
            <p class="text-center">Enter your <b>username</b> and <b>password</b>.</p>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-success btn-lg mb-3 go_button" type="submit">Log in</button>
            </form>
            <a href="{% url 'account_reset_password' %}" class="float-right">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
