<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        
    <a class="navbar-brand" href="{% url 'home' %}">Placez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item {% if active == 'show_all' %}active{% endif %}">
                <a class="nav-link" href="{% url 'show_all' %}">Show All</a>
            </li>
            <li class="nav-item {% if active == 'add_new' %}active{% endif %}">
                <a class="nav-link" href="{% url 'add_new' %}">Add new</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                </div>
            </li>
        </ul>
        {% else %}
        <form class="form-inline ml-auto">
            <a href="{% url 'account_signup' %}" class="text-light mr-3">Sign up</a>
            <a href="{% url 'account_login' %}" class="btn btn-outline-success">Log in</a>
        </form>
        {% endif %}
    </div>
    </div>
</nav>