{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <section class="mt-3">
        <div class="container">
            <h1 class="mb-4">{{ title }}</h1>

            <div class="row">
                <div class="col-lg-12 mb-3 mb-lg-4">
                    <input class="form-control form-control-lg mb-4" type="text" placeholder="Search by name, city or tag..." id="search">
                    <ul class="list-group">
                        {% for item in items %}
                            <a href="{% url 'edit_point' item.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <div>
                                    <h4>{{ item.title }}</h4>
                                    {{ item.city|capfirst }}
                                    <small class="text-muted">{{ item.street }}</small>
                                </div>
                                {% if item.visited %}
                                    <span class="badge badge-success">visited</span>
                                {% else %}
                                    <span class="badge badge-danger">wanted</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                {% if items.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">{{ items.previous_page_number }}</a></li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="#">{{ items.number }} <span class="sr-only">(current)</span></a>
                </li>

                {% if items.has_next %}
                    <li class="page-item"><a class="page-link" href="#">{{ items.next_page_number }}</a></li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ items.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
              </ul>
            </nav>
        </div>
    </section>

{% endblock content %}

{% block javascript %}
    <script>
        $(function () {
            $('#search').on('keyup', function () {
                var filter = $('#search').val().toLowerCase()

                $(".list-group > a").each(function () {
                    var current_keyword = $(this).text().toLowerCase()

                    if (current_keyword.indexOf(filter) > -1) {
                        $(this).show();
                    } else {
                        $(this).hide()
                    }
                })
            })
        });
    </script>
{% endblock %}