{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <style type="text/css">
        #mapid {
            height: 500px;
        }
        .asteriskField {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="mt-3 mb-5">
        <div class="container">
            <h1>{{ title }}</h1>

            <div class="row">
                <div class="col-lg-12">
                    {% if mode == 'new' %}
                    <form action="{% url 'add_new' %}" method="post">
                    {% else %}
                    <form action="{% url 'edit_point' item.id %}" method="post">
                    {% endif %}

                        {% csrf_token %}
                        {{ form|crispy }}
                        <button id="locate" type="button" class="btn btn-sm btn-outline-primary">locate</button>
                        <button type="submit" class="btn btn-sm btn-outline-success">save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="mapid"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{% url 'home' %}" class="btn btn-sm btn-warning float-left">back</a>
                    {% if mode == 'edit' %}
                    <button id="delete" data-id="{{item.id}}" type="button" class="btn btn-sm btn-danger float-right">delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
    <script>
    let marker;
    let mymap;

    $(function() {
        mymap = L.map('mapid').setView([51.1657, 10.4515], 5);
        mymap.addControl(new L.Control.Fullscreen());

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
            maxZoom: 18,
        }).addTo(mymap);

        marker = L.marker([51.1657, 10.4515], {draggable: true}).addTo(mymap);

        mymap.on('click', (e) => {
            marker.setLatLng([e.latlng.lat, e.latlng.lng])
            doReverseLocate(e.latlng.lat, e.latlng.lng)
        })

        marker.on('dragend', (e) => {
            doReverseLocate(marker.getLatLng().lat, marker.getLatLng().lng)
        })

        $('#locate').on('click', (e) => {
            doLocate($('#id_street').val(), $('#id_city').val())
        })

        $('#delete').on('click', function() {
            doDelete($(this).data('id'))
        })

        if ($('#id_lng').val() && $('#id_lat').val()) {
            marker.setLatLng([$('#id_lat').val(), $('#id_lng').val()])
            mymap.setView([$('#id_lat').val(), $('#id_lng').val()], 15)
        }
    });


    function doReverseLocate(lat, lng) {
        $('#id_lat').val(lat)
        $('#id_lng').val(lng)

        let url = "https://nominatim.openstreetmap.org/reverse?format=json&zoom=18&addressdetails=1&lat="

        $.ajax({
            url: url + encodeURI(lat) + '&lon=' + encodeURI(lng),
            success: function(result) {
                if (result) {
                    $('#id_street').val(result.address.road)
                    $('#id_city').val(result.address.town || result.address.village || result.address.city || result.address.state)
                } else {
                    alert("Adresse nicht gefunden")
                }
            }
        })
    }

    function doLocate(str, ort) {
        if ( ort == '') {
            alert('Straße und Ort muessen angegeben werden');
            return;
        }

        let url = "https://nominatim.openstreetmap.org/search?format=json&limit=1&polygon=0&addressdetails=0&q="

        $.ajax({
            url: url + encodeURI(str) + ',' + encodeURI(ort),
            success: function(result) {
                if (result && result[0]) {
                    console.log(result[0]);
                    $('#id_lat').val(result[0].lat)
                    $('#id_lng').val(result[0].lon)
                    marker.setLatLng([result[0].lat, result[0].lon])
                    mymap.setView([result[0].lat, result[0].lon], 15)
                } else {
                    alert("Adresse nicht gefunden")
                }
            }
        });
    }

    function doDelete(id) {
        if (confirm("Are you sure?")) {
            window.location = "/delete/" + id
        }
    } 

    </script>
{% endblock %}