{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <style type="text/css">
        #mapid {
            height: 80vh;
        }
    </style>
{% endblock %}

{% block content %}
<!--     <section class="mb-5">
        <div class="container">
            <h1>{{ title }}</h1>

            <div class="row">
                <div class="col-lg-8">
                </div>
            </div>
        </div>
    </section> -->

    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="mapid"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
    <script>
    let mymap;
    let marker = [];

    {% for item in items %}
        a = { 
            lat: {{item.lat}},
            lng: {{item.lng}},
            id: {{item.id}},
            city: '{{item.city}}',
            title: '{{item.title}}'
        }
        marker.push(a)
    {% endfor%}

    $(function() {
        mymap = L.map('mapid').setView([51.1657, 10.4515], 5);
        mymap.addControl(new L.Control.Fullscreen());

        L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
            maxZoom: 18,
        }).addTo(mymap);

        for (let i=0; i < marker.length; i++) {
            let a = L.marker([marker[i].lat, marker[i].lng], {draggable: false}).addTo(mymap);
            a.bindPopup("<b><a href='edit_point/" + marker[i].id + "'>"  + marker[i].title + "</a></b><br>" + marker[i].city)
        }
    });

    </script>
{% endblock %}